body {
	font-family: monospace;
	font-size: 10pt;
	color: white;
}

#container {
	position: relative;
}

#dialog {
	position: absolute;
	padding: 20px;
}

#dialog {
	bottom: 0;
  	-webkit-border-radius: 5px;
	background-color: #0033FF;
	border: 3px solid #FFFF00;
}
